<h1>Songs by <%= @artist.name %></h1>
<p><%= pluralize(@artist.song_count, 'song') %></p>

<ul>
    <% @artist.songs.each do |song| %>
      <li><%= link_to song.title, song %></li>
    <% end %>
</ul>
